<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/all.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/blog.css') }}"
    />
    <title>Bloggify | Blogpage</title>
  </head>
  <body>
    <!-- Main -->
    <section class="main">
      <img src="{{post.img_url}}" alt="Blog Poster" />
      <div class="container">
        <!-- Nav -->
        <nav class="main-nav">
          <a href="{{ url_for('get_all_posts') }}"><h1>BLOGGIFY</h1></a>
          <ul class="right-menu">
            {% if current_user == post.author %}
            <li>
              <a href="{{url_for('edit_post',post_id=post.id)}}">
                <i class="far fa-edit"></i>
              </a>
            </li>
            {%endif%} {% if current_user == post.author or current_user.is_admin
            %}
            <li>
              <a href="{{url_for('delete_post',post_id=post.id)}}">
                <i class="far fa-trash-alt"></i>
              </a>
            </li>
            {%endif%}
            <li>
              <a href="{{url_for('show_user_profile',user_id=post.author.id)}}"
                ><img src="{{post.author.email|gravatar}}"
              /></a>
            </li>
          </ul>
        </nav>

        <!-- Showcase -->
        <header class="showcase">
          <div class="title">
            <h1>{{post.title}}</h1>
            <h4>
              <i class="fas fa-user-alt"></i>
              {{post.author.username}}
            </h4>
            <h4>
              <i class="far fa-calendar"></i>
              {{post.date}}
            </h4>
          </div>
        </header>
      </div>
    </section>

    <!-- Blog -->
    <section class="blog">
      <div class="container">
        <!-- Empty Blog -->
        {%if post.body==NULL%}
        <div class="empty-blog show">
          <h1>Oops!!!</h1>
          <h1>Empty Blog</h1>
          <i class="far fa-meh-blank"></i>
        </div>
        {%endif%}
        <!-- Blog Code Here... -->
        <div class="non-empty-blog">
          <h1>{{post.subtitle}}</h1>
          <br />
          <p>{{post.body | safe}}</p>
        </div>
      </div>
    </section>
    <!-- Comments Area -->
    <section class="comment-area">
      <div class="container">
        <!-- Comment Boxes -->
        {% for comment in post.comments: %}
        <div class="comment-box">
          <img src="{{comment.author.email|gravatar}}" alt="Avatar Icon" />
          <div class="details">
            <header>
              <a
                href="{{url_for('show_user_profile',user_id=comment.author.id)}}"
              >
                <h4>{{comment.author.username}}</h4>
              </a>
              <h5>
                {%if (current_user == comment.author) or
                (current_user.is_admin):%}
                <a
                  href="{{url_for('delete_comment',comment_id=comment.id)}}"
                  class="comment-del"
                  >&#10060;</a
                >{%endif%} {{comment.date_time}}
              </h5>
            </header>
            <p>{{comment.text|safe}}</p>
          </div>
        </div>
        {% endfor %}

        <!-- Comment Form -->
        <form action="{{url_for('show_post',post_id=post.id)}}" method="post">
          <h3>Write comment</h3>
          <textarea name="comment" id="" cols="30" rows="5"></textarea>
          <input type="submit" value="Comment" />
        </form>
      </div>
    </section>
    <!-- Footer -->
    <footer class="main-footer">
      <div class="container">
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/Bloggify-110808154732615">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/bloggify3">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/bloggify_officials/">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
        <h3>Copyright &copy;, 2021</h3>
      </div>
    </footer>
  </body>
</html>
