<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/all.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/signup.css') }}"
    />
    <title>Signup | Bloggify</title>
  </head>
  <body>
    <!-- Main -->
    <div class="main">
      <div class="container">
        <!-- Nav -->
        <nav class="main-nav">
          <a href="{{url_for('get_all_posts')}}">
            <h1>BLOGGIFY</h1>
          </a>
          <a href="{{url_for('login')}}">Login</a>
        </nav>

        <!-- Showcase -->
        <header class="showcase">
          <div class="title-container">
            <h1>Create Account</h1>
          </div>

          <div class="form-container">
            <form class="form" action="#" method="post">
              <input
                type="text"
                name="username"
                placeholder="Username"
                required
              />
              <input type="email" name="email" placeholder="Email" required />
              <input
                type="password"
                name="password"
                placeholder="Password"
                required
              />
              <!-- <textarea
                name="username"
                cols="30"
                rows="5"
                placeholder="Tell us about you"
                required
              ></textarea> -->
              <input type="submit" name="" value="Create" />
            </form>
          </div>
        </header>
      </div>
    </div>
  </body>
</html>
